.container {
  padding: 0 2rem;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-content: center;
}


.titleContainer {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  margin-top: 50px;
}

.title {
  font-size: 23px;
}

.subTitle {
  margin-top: 10px
}

.classContent {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 55px;
}

.classContainer {
  max-width: 600px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 80%;
  margin-bottom: 50px;
  height: 60px;
  border-radius: 7px;
  box-shadow: 0px 9px 10px lightgray;
  font-size: 10px;
}

.openedClassContainer {
  max-width: 600px;
  cursor: pointer;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  width: 80%;
  margin-bottom: 50px;
  border-radius: 7px;
  flex-direction: column;
  box-shadow: 0px 9px 10px lightgray;
  font-size: 10px;
  padding-bottom: 50px;
}

.studentContainer {
  max-width: 600px;
  display: flex;
  width: 80%;
  margin-top: 10px;
  flex-direction: row;
  align-content: space-between;
}

.studentList {
  max-width: 600px;
  width: 30vw;
  display: flex;
  flex-direction: column;
  height: auto;
  margin-right: 2.5vw;
}

.studentList2 {
  max-width: 600px;
  width: 30vw;
  display: flex;
  flex-direction: column;
  height: auto;
  margin-left: 2.5vw;
}
